@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: "Roboto", sans-serif !important; 
}
.mortgage-calc-charts-tab::after {
    content: "";
    width: 75%;
    max-width: 150px;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #20a7e2;
}
select {
    width: 100%; /* Ancho del select */
    padding: 0.2rem 0.5rem; /* Espaciado interno */
    border-radius: 0.375rem; /* Bordes redondeados */
    border: 1px solid #ccc; /* Borde de color gris claro */
    color: #333; /* Color de texto */
    font-size: 1rem; /* Tamaño de fuente */
    outline: none; /* Elimina el resalte al enfocarse */
}

/* Estilos para el contenedor de pestañas */
.tabs-container {
    margin: 20px;
}

/* Estilos para la lista de pestañas */
.tabs { 
    width: 200px;
    display: flex;
    margin: 0 auto;
}

/* Estilos para cada pestaña*/
.tab {
    width: 100%;
    font-size: 13px;
    padding: 4px 0;
} 

/* Estilos para la pestaña activa */
.tab.active {
    background-color: #20a7e2; /* Color de la pestaña activa */
    color: white;
}


